.container {
    margin: 16px auto;
   
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
   
    
}
.example-card {
    width: auto;
    margin-right: 16px;
    background-image: url('../../assets/images/image.jpg');
   
  }
  .image{
     
      border-radius: 50%;
      
  }
  .name{
      padding: 5px;
      margin: 10px;
      font-weight: bold;
      flex:left;
  }
  .h1{
      font-weight: bold;
  }
  .content{
      display: flex;
     justify-content: space-between;
  }